@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="images/ProfilePictures/Joachim.jpg" class="img-responsive" alt="" />
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">Joachim Hejlesen</h1>
                    <span>Software Engineering, Bachelor studerende</span>
                </div>
                <p>
                    Jeg er en fed idiot.
                </p>

                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>11. Januar 1995</strong>
                            <small>Fødselsdag</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>Danmark</strong>
                            <small>Nationalitet</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>Dansk <span>(Modersmål)</span>, Engelsk <span>(Akademisk niveau)</span></strong>
                            <small>Sprog</small>
                        </div>
                    </div>
                </div>
                <ul class="social-icon">
                    <li><a href="https://www.facebook.com/PleaseInsertMyNameHere"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2017 - Nu</small>
                            <h3>Studenterprogrammør</h3>
                            <h4>POSone</h4>
                            <p>Denmark, Odense</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2011 - 2015</small>
                            <h3>Servicemedarbejder</h3>
                            <h4>Bilka</h4>
                            <p>Denmark, Holstebro</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
        <!--.row-->
    </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->
<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>2015 - 2018</small>
                            <h3>BSc in Software Engineering</h3>
                            <h4>University of Southern Denmark</h4>
                            <p>Denmark, Odense</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2011 - 2014</small>
                            <h3>Kommunikation/IT</h3>
                            <h4>UCH - Holstebro Tekniske Gymnasium</h4>
                            <p>Denmark, Holstebro</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2001 - 2011</small>
                            <h3>Savage kid</h3>
                            <h4>Tvis Skole</h4>
                            <p>Denmark, Holstebro</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->
