@page
@model JoaJebiPage.Pages.AdminPageModel
@{
    ViewData["Title"] = "AdminPage";
}
<h2>AdminPage</h2>
<br />
<div class="row">
    <div class="col-md-12">
        <form method="post"  asp-page-handler="About" enctype="multipart/form-data">
            <select onchange="this.form.submit()" asp-for="Who">
                @{
                    foreach (var person in @Model.GetPersons())
                    {
                        <option value="@person">@person.ToString()</option>
                    }
                }
            </select>
        </form>
        <h3>Upload Image to Gallery</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="file" asp-for="ImageUpload"/>
            <input type="submit" asp-page-handler="ImageUpload" value="Upload"/>
        </form>

        <h3>Change Information</h3>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Who"/>
            <p>Firstname: </p>
            <input type="text" asp-for="FirstName"/>
            <p>Lastname: </p>
            <input type="text" asp-for="LastName"/>
            <p>Birthday: </p>
            <input type="text" asp-for="Birthday"/>
            <p>Description: </p>
            <textarea type="text" asp-for="Description"> </textarea> <br/> <br/>
            <input type="submit" asp-page-handler="INFORMATION" value="Submit"/>
        </form>
    </div>
</div>
