@page
@model JoaJebiPage.Pages.EmailSignUpModel
@{
    ViewData["Title"] = "EmailSignUp";
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<h1>Newsletter</h1>
<br/>
<strong>Here you can sign up for Newsletters.</strong>
<form method="post" enctype="multipart/form-data">
    <strong>Name: </strong>
    <input type="text" asp-for="NameUpload"> <br>
    <strong>Email: </strong>
    <input type="email" asp-for="EMailUpload" /> <br> <br>
    <input type="submit" asp-page-handler="EMAIL" value="Submit">
</form>
