@page
@using System.IO
@model JoaJebiPage.Pages.GalleryPageModel
@addTagHelper *, Tyrrrz.AspNetCore.Mvc.Lightbox
@{
    ViewData["Title"] = "GalleryPage";
}
<h2>GalleryPage</h2>

@{
    foreach (var image in @Model.GetImages())
    {
        <a href="@image" data-lightbox="Gallery">
            <img src="@image" />
        </a>
    }
}
<lightbox disable-scrolling="true" fit-images-in-viewport="true" resize-duration="TimeSpan.FromMilliseconds(0)" wrap-around="true" />
