@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<h1>Home Page</h1>

<strong>@Model.WelcomeMessage</strong>
<br/>
<strong>@Model.SDUNames</strong>
<br/>
<strong>@Model.FinalMessage</strong>