@page
@model JoaJebiPage.Pages.UploadImageModel
@{
    ViewData["Title"] = "UploadImage";
}

<h2>Upload Image Page</h2>


<div class="row">
    <div class="col-md-12">
        <h2>Upload Image</h2>        
        <form method="post" enctype="multipart/form-data">
            <label asp-for="FileUpload"></label>
            <input type="file" asp-for="FileUpload"/>
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>
